<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                {{#nav-link-to 'index'}}Dashboard{{/nav-link-to}}
                {{#nav-link-to 'posts.index'}}Posts{{/nav-link-to}}
                {{#nav-link-to 'news.index'}}News{{/nav-link-to}}
                {{#nav-link-to 'contact'}}Contact{{/nav-link-to}}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->