<div class="row">
	<div class="col-sm-6">
		<h3 class="pull-left">List of all news</h3>
	</div>
	<div class="col-sm-6">
		{{#link-to 'news.new' class="pull-right"}}
			<button class="btn btn-success">Create new News</button>
		{{/link-to}}
	</div>
</div>
<hr>
{{#each model as |news|}}
	{{item-list-view destination='news.show' item=news isDeletable=true action='deleteEntry'}}
{{/each}}