<div class="row">
  <div class="col-md-4">{{number-box title="Posts" number=posts.length}}</div>
  <div class="col-md-4">{{number-box title="News" number=news.length}}</div>
  <div class="col-md-4">{{number-box title="Editors" number="4"}}</div>
</div>